//** Named Colors
$blackbird:   #323740;
$black-denim: #31485c;
$blue:        #1e6edc;
$dandelion:   #ffe282;
$dark-navy:   #09133d;
$ghost:       #ced0d8;
$gold:        #ffb948;
$gray:        #bfcbd3;
$silver:      #cccccc;
$heather:     #a3aebe;
$malibu:      #69d2ff;
$mineshaft:   #252525;
$neon-blue:   #264fff;
$red:         #fd3a57;
$rum:         #725e7f;
$seagreen:    #008c5b;
$sky-blue:    #8bc7ff;
$shamrock:    #4bd59c;
$sunglow:     #ffcd29;
$twilight:    #0b153c;
$violet:      #5037af;
$white:       #ffffff;
$alto:        #dddddd;
$midnight-blue: #0F2066;
$royal-blue: #264FFF;
$corn-flower-blue: #7D95FF;
$lavender: #D4DCFF;
$indigo: #330F7E;
$blue-violet: #651EFC;
$plum: #B28FFE;
$light-lavender: #F0E9FF;
$dark-slate-gray: #003F3F;
$dark-cyan: #009E9E;
$sky-blue: #80CFCF;
$alice-blue: #E6F5F5;
$black-brown: #302702;
$olive: #796204;
$peru: #A1914F;
$gainsboro-brown: #E4E0CD;
$black-gray: #251D1F;
$dim-gray: #5D484E;
$rosy-brown: #9E9195;
$gainsboro-gray: #E5E5E5;
$black-green: #111912;
$dark-slate-green: #2B3F2E;
$gray-green: #808C82;
$light-gray-green: #D5D9D5;
$black-purple: #100F32;
$midnight-purple: #1F1D64;
$light-slate-purple: #7977A2;
$light-gray-purple: #D2D2E0;
$dark-slate-blue: #3D6E85;
$dark-corn-flower-blue: #65B8DE;
$pale-turquoise: #A9E0FA;
$light-cyan: #E2F5FD;
$saddle-brown: #593203;
$chocolate: #DF7C08;
$sandy-brown: #ECB06B;
$blanched-almond: #F9E5CE;
$maroon: #4A1911;
$sienna: #BF4937;
$dark-salmon: #D58B80;
$antique-white: #F1D8D5;
$midnight-blue: #0F2066;
$royal-blue: #264FFF;
$corn-flower-blue: #7D95FF;
$lavender: #D4DCFF;
$indigo: #330F7E;
$blue-violet: #651EFC;
$plum: #B28FFE;
$light-lavender: #F0E9FF;
$dark-slate-gray: #003F3F;
$dark-cyan: #009E9E;
$sky-blue: #80CFCF;
$alice-blue: #E6F5F5;
$black-brown: #302702;
$olive: #796204;
$peru: #A1914F;
$gainsboro-brown: #E4E0CD;
$black-gray: #251D1F;
$dim-gray: #5D484E;
$rosy-brown: #9E9195;
$gainsboro-gray: #E5E5E5;
$black-green: #111912;
$dark-slate-green: #2B3F2E;
$gray-green: #808C82;
$light-gray-green: #D5D9D5;
$black-purple: #100F32;
$midnight-purple: #1F1D64;
$light-slate-purple: #7977A2;
$light-gray-purple: #D2D2E0;
$dark-slate-blue: #3D6E85;
$dark-corn-flower-blue: #65B8DE;
$pale-turquoise: #A9E0FA;
$light-cyan: #E2F5FD;
$saddle-brown: #593203;
$chocolate: #DF7C08;
$sandy-brown: #ECB06B;
$blanched-almond: #F9E5CE;
$maroon: #4A1911;
$sienna: #BF4937;
$dark-salmon: #D58B80;
$antique-white: #F1D8D5;
