<mat-toolbar color="primary" role="heading">
  <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active">
    <h1>Simpletrack</h1>
  </button>
  <span class="flex-fill"></span>
  <button mat-button (click)="goToLogin()" *ngIf="!isLoggedIn">
    <mat-icon class="medium md-light">exit_to_app</mat-icon>
    <span>Login</span>
  </button>
  <div *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon class="medium md-light">person</mat-icon>
      <span>{{loggedInUserName}}</span>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="goToAccount()">Account Settings</button>
      <button mat-menu-item (click)="goToLogout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
